
<!DOCTYPE html>
<html ng-app='mainApp' ng-click='handleClickOutSideMenu($event)' ng-init="configs = [{company_name : '',&#x000A;server_env: {env: 'staging', host: 'https://d2c2iox7hom5da.cloudfront.net'},&#x000A;current_zone_id: '',&#x000A;is_custom_training : '0',&#x000A;}]">
<!-- <html> -->

  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='2017-06-30' name='revised'>
    <title>Phriendly Phishing</title>
    <link data-turbolinks-track="false" href="https://d2c2iox7hom5da.cloudfront.net/assets/scam_training-4206b883ddbef32012e28285a735b7b3.css" media="all" rel="stylesheet" type="text/css" />
    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/jquery.placeholder.min.js"></script>
    <script src="./scripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
    <script src="./scripts/angular-local-storage.min.js"></script>
    <script src="./scripts/angular-ui-bootstrap-tpls.js"></script>
    <script src="./scripts/angular-ui-bootstrap.js"></script>
    <script src="./scripts/angular-ui-router.js"></script>
    <script src="./scripts/modernizr.js"></script>

    <script src="./app/app.js"></script>
    <script src="./app/app.route.js"></script>
    <script src="./app/app.constant.js"></script>

    <script src="./app/controllers/achievement.js" ></script>
    <script src="./app/controllers/action.js"></script>
    <script src="./app/controllers/content.js"></script>
    <script src="./app/controllers/definition.js"></script>
    <script src="./app/controllers/introduction.js" type="text/javascript"></script>
    <script src="./app/controllers/manage.js"></script>
    <script src="./app/controllers/master_layout.js"></script>
    <script src="./app/controllers/menu.js"></script>
    <script src="./app/controllers/quiz.js"></script>
    <script src="./app/controllers/sender.js"></script>

    <script src="./app/directive/achievement.directive.js"></script>
    <script src="./app/directive/training.directive.js"></script>

    <script src="./app/services/achievevement.service.js"></script>
    <script src="./app/services/preloader.service.js"></script>
    <script src="./app/services/quiz.service.js"></script>
    <script src="./app/services/training.service.js"></script>

    <!-- <script src="scripts/jquery-1.6.2.min.js"></script> -->
    <script src="./scripts/base64.js"></script>
    <script src="./config.js"></script>
    <script src="./scripts/TinCanJS/build/tincan.js"></script>
    <script type="text/javascript">
            /*
             * Make JSON safe for IE6
             * https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/JSON#Browser_compatibility
            */
            if (! window.JSON) {
                window.JSON = {
                    parse: function (sJSON) {
                        /*jslint evil: true */
                        return eval("(" + sJSON + ")");
                    },
                    stringify: function (vContent) {
                        var sOutput = "",
                            nId,
                            sProp
                        ;
                        if (vContent instanceof Object) {
                            if (vContent.constructor === Array) {
                                for (nId = 0; nId < vContent.length; nId += 1) {
                                    sOutput += this.stringify(vContent[nId]) + ",";
                                }
                                return "[" + sOutput.substr(0, sOutput.length - 1) + "]";
                            }
                            if (vContent.toString !== Object.prototype.toString) { return "\"" + vContent.toString().replace(/"/g, "\\$&") + "\""; }
                            for (sProp in vContent) {
                                if (vContent.hasOwnProperty(sProp)) {
                                    sOutput += "\"" + sProp.replace(/"/g, "\\$&") + "\":" + this.stringify(vContent[sProp]) + ",";
                                }
                            }
                            return "{" + sOutput.substr(0, sOutput.length - 1) + "}";
                        }
                        return typeof vContent === "string" ? "\"" + vContent.replace(/"/g, "\\$&") + "\"" : String(vContent);
                    }
                };
            }

            /* Set up TinCanJS */
            var tincan = new TinCan (
                    {
                        recordStores: [
                            {
                                endpoint: Config.endpoint,
                                username: Config.authUser,
                                password: Config.authPassword,
                                allowFail: false
                            }
                        ]
                    }
                ),
                PrototypesLauncher = {};

            PrototypesLauncher.Activity = {
                id: "http://id.tincanapi.com/activity/tincan-prototypes/launcher",
                definition: {
                    type: "http://id.tincanapi.com/activitytype/lms",
                    name: {
                        "en-US": "New SCAM Training"
                    },
                    description: {
                        "en-US": "Activities - New SCAM Training."
                    }
                }
            };
            PrototypesLauncher.context = {
                contextActivities: {
                    grouping: [
                        {
                            id: "http://id.tincanapi.com/activity/tincan-prototypes"
                        }
                    ],
                    category: [
                         {
                            id: "http://id.tincanapi.com/recipe/tincan-prototypes/launcher/1",
                            definition: {
                                type: "http://id.tincanapi.com/activitytype/recipe"
                            }
                        },
                        {
                            id: "http://id.tincanapi.com/activity/tincan-prototypes/launcher-template",
                            definition: {
                                type: "http://id.tincanapi.com/activitytype/source",
                                name: {
                                    "en-US": "SCAM Training Launcher"
                                },
                                description: {
                                    "en-US": "Contex - Phishing Awareness Training."
                                }
                            }
                        }
                    ]
                }
            };

            tincan.sendStatement(
                {
                    actor: {
                        name: Config.actor.name,
                        mbox: Config.actor.mbox
                    },
                    verb: {
                        id: "http://adlnet.gov/expapi/verbs/experienced",
                        display: {
                            "en-US": "launched"
                        }
                    },
                    object: PrototypesLauncher.Activity,
                    context: {
                        registration: Config.registration,
                        contextActivities: PrototypesLauncher.context.contextActivities
                    }
                }, 
                function (err, xhr) {}
            );

            $(document).ready(function () {
                var PROTOTYPE_SHOW_CONFIG_INFO = true;
                var PROTOTYPE_DEFAULT_NAME = Config.actor.name;
                var PROTOTYPE_DEFAULT_MBOX = Config.actor.mbox;
                var PROTOTYPE_ENDPOINT = Config.endpoint;
                var PROTOTYPE_AUTH = 'Basic ' + Base64.encode(Config.authUser + ':' + Config.authPassword);
                var PROTOTYPE_REGISTRATION = Config.registration || TinCan.Utils.getUUID();

            });

            function sendTincanStatement () {
                tincan.sendStatement(
                    {
                        actor: {
                            name: Config.actor.name,
                            mbox: Config.actor.mbox
                        },
                        verb: {
                            id: "http://adlnet.gov/expapi/verbs/experienced",
                            display: {
                                "en-US": "experienced"
                            }
                        },
                        object: PrototypesLauncher.Activity,
                        context: {
                            registration: Config.registration,
                            contextActivities: PrototypesLauncher.context.contextActivities
                        }
                    }, 
                    function (err, xhr) {}
                );
            }

        </script>
  </head>
  <body ng-controller='MasterLayoutController'>
    <div class='container col-xs-10 col-xs-offset-1'>
      <div class='container_training'>
        <div ui-view=''></div>
        <div class='breadcrumb-nav' ng-class="{'btn-fadeOut' : enable_btn_action, 'fadeIn' : !enable_btn_action}" ng-hide='is_thank_you_page'>
          <div id='home'></div>
          <div id='arrow'></div>
          <ol class='breadcrumb'>
            <li ng-repeat='item in navigation.breadcrumb'>
              <a href='scam_training#{{item.href}}'>{{item.name}}</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
