<div class="background background_act2">
    <div class="contain_2">
        <h3 class="action_item1_title">Action Item #2</h3>
        <div class="action_text">
            <p><b>IP Address are not used in URLs by Business</b></p>
            <br>
            <p>Businesses don't use IP Addresses in their URL's so if you see the link that looks something like</p>
            <div class="border_link">
                <a class="ip-link" href="http://13.55.52.253/" target="_blank">http://192.168.55.163/</a>
            </div>
            <br>
            <p><b>Don't click on it!</b></p>
            <br>
            <p>After that last lesson I'm hoping you hovered over that link to see where it really went to. And this is another reason why.</p>
            <br>
            <p>I can hide my IP address under a legitimate looking link just like that I did earlier.</p>
            <div class="border_link">
                <a class="action-link" href="http://13.55.52.253/" target="_blank">http://TrustedEntity.org/</a>
            </div>
        </div>
    </div>
</div>