<div class="background background_act1">
    <div class="contain1">
        <h3 class="action_item1_title">Action Item #1 - continued...</h3>
        <div class="action_text">
            <p>What if I was to give you this link?</p>
            <br>
            <div class="border_link">
                <a class="action-link" href="http://www.shearwater.com.au/phriendlyphishing/linkedin/login/" target="_blank">http://www.linkedin.com/</a>
            </div>
            <br>
            <p style="margin: 10px">If you hover over this link you'll see it's wrong again.</p>
            <br>
            <p>But for the purposes of this example you can even click this one to view another SCAM technique.</p><br>
            <p>Notice the LinkedIn page has a completely incorrect address in the address bar.</p>
            <br>
            <b>If you put your username and password in that page I could have stolen it.</b>
            <br>
            <p style="margin: 10px">...and possibly used your credentials to access all the other sites on the internet where you use the same username & password!</p><br>
            <p style="font-style: italic">(<b style="font-family: SanFranciscoDisplaySemibold">Extra action item:</b> Always use different passwords for every website)</p>
        </div>
    </div>
</div>