<div class="background background_act1_2">
    <div class="contain1_2">
        <h3 class="action_item1_title">Action Item #1 - continued...</h3>
        <div class="action_text">
            <p style="margin: 0 190px 10px"><b>Note: This is one of the most important things you will learn in this 101 course.</b></p>
            <br>
            <div class="wrong_link">
                <p>Check out the link below. It's going to <span class="border_link1">Microsoft.com</span> right?</p>
            </div>
            <br>
            <div class="phish">
                <a href="http://phriendlyphishing.com/?id=ph2-AI1-MS-Link" target="_blank">http://www.microsoft.com</a>
            </div>
            <br>
            <div class="wrong_link" style="margin: 20px auto 10px">
                <p>
                    <b>Wrong!</b> Hover over the link and look for the real address <b>usually showing up in the far bottom left or right of the computer screen or browser window.</b>
                    Can you find it? That link is actually going to <span class="border_link2">phriendlyphishing.com</span>
                </p>
            </div>
            <br>
            <p>In an email client such as Outlook the underlying URL actually shows up directly below the link when you hover.</p>
            <br>
            <p>I hope you didn't click the link to find out because clicking on unknown link like this is all I need to take control of
                <br> your computer. And you would never know!</p>
        </div>
    </div>
</div>