<div class="background background_act4">
    <div class="contain1">
        <h3 class="action_item1_title">Action Item #4</h3>
        <div class="action_text">
            <p><b>Email forms are not cool</b></p>
            <br>
            <p>Email forms look the same as the login area of a website, only you'll find these ones in an email.</p>
            <span class="attention">
                <a class="forms_email" href="http://www.shearwater.com.au/phriendlyphishing/examples/form/" target="_blank"><b>Click here to view an example form.</b></a>
            </span>
            <br>
            <p style="margin-top: 10px">It is very simple to make sure you don't get phished by an email form.</p>
            <br>
            <b style="color: #b73031">Don't put any information into an email form... Ever!</b>
            <br>
            <p style="margin-top: 10px">It's very difficult to ensure that an email form can be trusted.</p>
            <p>So our advice is <b>simply don't use them.</b></p>
        </div>
    </div>
</div>