<div>
    <div class="menu" ng-include="'scam_training/templates/menus/_menu.html'"></div>

    <div id="main_content">
        <div class="achievements" ng-hide="is_thank_you_page">
            <div class="logo_achieve">
                <img ng-src="{{config_env.base_url}}/assets/scam_training/achievements/label-achivement-cup.png" />
            </div>
            <div class="col-md-12">
                <div class="col-md-8 col-sm-8 col-xs-8 " style="text-align: center">
                    <ul class="achieve">
                        <li ng-repeat="achieve in achieve.student_achieve">
                            <div class="item-achieve">
                                <div class="contain">
                                    <div ng-if="achieve.rank == 3">
                                        <span class=" section-achieve logo-{{achieve.type}}"></span>
                                        <h5 class="achieve-title" ng-bind-html="achieve.title"></h5>
                                        <span class="star-{{achieve.rank}}"></span>
                                        <p class="achieve-desc" ng-bind-html="achieve.desc"></p>
                                    </div>
                                    <div ng-if="achieve.rank < 3">
                                        <span class=" section-achieve logo-{{achieve.type}}-disable"></span>
                                        <h5 class="achieve-title-disable" ng-bind-html="achieve.title"></h5>
                                        <span class="star-{{achieve.rank}}"></span>
                                        <p class="achieve-desc-disable" ng-bind-html="achieve.desc"></p>
                                    </div>
                                </div>
                                <div ng-if="achieve.rank < 3 && activeAchieve[achieve.type]" class="try-again" ui-sref="{{achieve.href}}">TRY AGAIN</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4  cup">
                    <div ng-if="best_score >= achieve.pass_score" >
                        <img class="logo" ng-src="{{config_env.base_url}}/assets/scam_training/achievements/IconBage_Level1.png">
                        <h5>Phriendly Phishing Level 1 Award</h5>
                        <img class="cup_award" ng-src="{{config_env.base_url}}/assets/scam_training/achievements/Cup-1.png">
                        <p ng-if="!is_custom_training">Complete and follow the entire tutorial</p>
                        <p ng-if="is_custom_training">Your completion results will be sent to Campus in the next 5 days</p>
                    </div>
                    <div ng-if="best_score < achieve.pass_score" >
                        <p style="font-size: 18.9px; margin-top: 70px;"><b>YOUR SCORE:</b></p>
                        <p id="display-best-score" class="cup_award_disable" ng-if="best_score == -1">N/A</p>
                        <p id="display-best-score" class="cup_award_disable" ng-if="best_score != -1">{{best_score}}%</p>
                        <p style="font-size: 13.8px; width: 170px"><b>Unfortunately <br> That Is Not A Passing Mark</b></p>
                        <p style="font-size: 10.8px">Please select a section to try again</p>
                        <achievement.popup section="important"></achievement.popup>
                    </div>
                </div>
            </div>
        </div>
        <div id="thank_you_page" ng-show="is_thank_you_page">
            <div><div ng-include="'scam_training/templates/achievement/_thank_you.html'"></div></div>
        </div>
    </div>
    <div class="navigation" >
        <div class="button">
            <div id="back"  ng-class="achieve.move.back" ng-show="can_go_back" ng-click = "navigation.back()">
                <ins></ins>
            </div>
            <div id="next"  ng-class="achieve.move.next" ng-show="!is_thank_you_page" ng-click = "navigation.next()">
                <ins></ins>
            </div>
        </div>
    </div>
    <div>
        <achievement.popup ng-if="best_score >= achieve.pass_score" section="award"></achievement.popup>
    </div>
</div>