<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title"><b>Important</b></h3>
    </div>
    <div class="modal-body">
        <div>
            From now on <b>you'll be receiving periodic phishing emails</b> from us.
            These are designed to help enhance your phish fighting skills.
            <br>
            <br>
            This program is a safe environment to learn about phishing,
            <b>but please do not purposely click on any phishing email</b>, as it might not be from us.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg" type="button" ng-click="ok()">OK</button>
    </div>
</div>